/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  /* display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */ 
  background-color: #EDEDF0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  padding: 1rem;
}
/* Custom styles */
/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 1.5rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3579b1;
}

.form-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #4a90e2;
}

.form-submit {
  margin-top: 1.5rem;
}

.person-card {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.person-card h3 {
  margin-bottom: 1rem;
  color: #4a90e2;
}

.person-card p {
  margin-bottom: 0.75rem;
  color: #333;
}

.person-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */

